.base {
  width: 100%;
  display: block;
  margin: 0;
  font-size: 12px;
  font-family: Dosis;
  background-color: white;
  letter-spacing: 1px; }

.backgroundAntonym {
  background-color: white; }

.headerColor {
  color: #aaaaaa; }
