///////////////mixin////////////////
//文字サイズ
@mixin fontSize($size:12px) {
  font-size: $size;
}

//背景色
@mixin backgroundColor($color:white) {
  background-color: $color;
}

//文字色
@mixin fontColor($color:#aaaaaa) {
  color: $color;
}

//文字
@mixin fontFamily($font:Dosis) {
  font-family: $font;
}

///////////////ここまで////////////////


.base{
  width: 100%;
  display: block;
  margin: 0;
  @include fontSize();
  @include fontFamily();
  @include backgroundColor();
  letter-spacing: 1px;
}

.backgroundAntonym{
  @include backgroundColor();
}

.headerColor{
  @include fontColor();
}

