///////////////mixin////////////////
//文字サイズ
@mixin fontSize($size:12px) {
  font-size: $size ;
}

//マージン
@mixin margin($top:0px,$right:0px,$bottom:0px,$left:0px) {
  margin: $top $right $bottom $left;
}


//背景色
@mixin backgroundColor($color:#f9f9f9) {
  background-color: $color;
}

//文字色
@mixin fontColor($color:#aaaaaa) {
  color: $color;
}

//文字
@mixin fontFamily($font:Dosis) {
  font-family: $font !important;
}

///////////////ここまで////////////////

.wrapper{
  padding-top: 50px;
  @include margin($top:0px,$right:auto,$bottom:0px,$left:auto);
  @include backgroundColor();

  .works{
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    display: block;
    font-weight: normal;
    padding-bottom: 10px;
    @include fontColor($color:#aaaaaa);
    @include fontSize($size:16px);
  }

  .margin{
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .card{
    margin: 10px;
    width: 240px;
  }

  .card_media{
    height: 100px;
  }

  .code_view{
    margin-left: 1vw;
  }

  .skill-margin{
    width: 100%;
    position: center;
    padding-top: 50px;
    padding-bottom: 50px;

    div{
      -webkit-transform: translateY(5%) translateX(30%);
      @include fontColor($color:#231815);
      @include fontSize($size:13px);
      @include fontFamily();
    }
  }
  .skill{
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    display: block;
    font-weight: normal;
    padding-bottom: 10px;
    @include fontColor($color:#aaaaaa);
    @include fontSize($size:16px);
  }
}